body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Tinos", serif;
    font-size: 24px;
}

#tutorial {
    z-index: 1000;
    line-height: 1.4;
    font-size: 22px;
    color: black;
    background-color: white;
    max-width: 90vw;
    width: 800px;
    max-height: 65vh;
    height: 1700px;
    margin: 0 10px; 
    padding: 40px; 
    border-radius: 8px; 
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 50%; 
    transform: translateX(-50%); 
}

li {
    padding-bottom: 18px;
}

.info-block {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    width: 300px;
    max-width: 20vw;
}
.info-block p {
    font-size: 16px;
    margin: 8px 0;
}

.welcome {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
